<?xml version="1.0"?>
<configuration>
    <appSettings/>
  <connectionStrings>
    <add name="PICS" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\kunden\homepages\14\d239561646\gael\dbRecs.mdb;Persist Security Info=True" providerName=".NET Framework Data Provider for OLE DB"/>
  </connectionStrings>
  <system.web>
        <compilation debug="false" />
    </system.web>
</configuration>
